.categories-list {
    align-items: center;
    margin-top: 500px;
    margin-bottom: 50px;
    justify-content: space-around;
}

.categories-list ol {
    list-style-type: decimal;
}

.categories-list ol li{
    display: inline;
    float: left;
    padding: 10px 0px;
}

.category-button {
    display: block;
    width: 100px;
    padding: 2em;
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    color: black;
    text-decoration: none;
}

.category-button img {
    margin-bottom: 5px;
    width: 100%;
    border-radius: 9999px;
}

.category-button:hover {
    opacity: 0.6;
}