* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  list-style: none;
  font-family: "Rubik", sans-serif;
}

:root {
  --first-color: #f6e7d8;
  --second-color: #f68989;
  --third-color: #c65d7b;
  --fourth-color: #874356;
}

/* Header styling */
header {
  position: sticky;
  top: 0;
  box-shadow: 4px 3px 12px 5px rgba(135, 67, 86, 0.75);
  z-index: 3;
}

.nav-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background-color: var(--first-color);
}

.logo,
.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: var(--first-color);
  color: var(--fourth-color);
}
h1 {
  font-size: 24px;
}
.fa-bowl-rice {
  margin: 20px;
}
.fa-bowl-rice:hover {
  color: var(--third-color);
  scale: 1.5;
  transition: 0.3s;
}
.info {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 20px;
}
.nav {
  min-height: 70px;
}
.nav-link {
  text-decoration: none;
  margin: 20px;
  color: var(--fourth-color);
  font-size: 18px;
  font-family: sans-serif;
  cursor: pointer;
}

.nav-link:hover {
  color: var(--third-color);
}
.hamburger {
  display: none;
  cursor: pointer;
  margin: 10px;
}
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--fourth-color);
}
.search-container {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: white;
  position: relative;
  transition: 0.5s;
  overflow: hidden;
}

.search-container .search-icon {
  position: absolute;
  left: 25px;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.search-container .search-icon .search {
  font-size: 18px;
  align-self: center;
  cursor: pointer;
}

.search-container.active {
  width: 200px;
}

.search-container .input {
  position: relative;
  width: 100px;
  height: 50px;
  left: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-container .input input {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  border: none;
  font-size: 18px;
  outline: none;
}

.search-container .input .clear {
  position: absolute;
  right: -25px;
  top: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  font-size: 20px;
  color: #8888;
}
/* END of header */

/* .carousel  */
.carousel-wrapper {
  height: 100vh;
}
.carousel {
  width: 100%;
  height: 50vh;
  position: relative;
}
.carousel > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.slide {
  position:absolute;
  inset: 0;
  opacity: 0;
  transition: 200ms opacity ease-in-out;
  transition-delay: 200ms;
}
.slide > img {
  display: block;
  width: auto;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.slide[data-active] {
  opacity: 1;
  transition-delay: 0ms;
}

.carousel-button {
  position: absolute;
  background: none;
  border: none;
  font-size: 2rem;
  top:50%;
  z-index: 2;
  transform: translateY(-50%);
  color: var(--first-color);
  opacity: 0.5;
  cursor: pointer;
  border-radius: .25rem;
  padding: 0 .5rem;
  background-color:rgb(135, 67, 86, 0.3);  
}
.carousel-button:hover, 
.carousel-button:focus {
  color: var(--first-color);
  opacity: 1;
  background-color:rgb(135, 67, 86, 0.5);  
}
.carousel-button:focus {
  outline: 1px solid rgb(135, 67, 86);
}

.carousel-button.prev {
  left: 1rem;
}
.carousel-button.next {
  right: 1rem;
}
.h3-recipe, .p-recipe {
  color: var(--fourth-color);
  padding: 10px;
  margin: 10px 30px;
  text-align: center;
  overflow: hidden;
}
/* END carousel */

/* Accordion */
.accordion__button {
  display: block;
  width: 100%;
  padding: 15px;
  border: none;
  outline: none;
  cursor: pointer;
  background: var(--fourth-color);
  color: var(--first-color);
  text-align: left;
  transition: background 0.2s;
}

.accordion__button::after {
  content: '\25be';
  float: right;
  transform: scale(1.5);
}
.accordion__button--active {
  background: var(--third-color);
}
.accordion__button--active::after {
  content: '\25b4';
}
.accordion__content {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.2s;
  padding: 0 15px;
  background-color: var(--first-color);
}

/* Media  queries */

@media screen and (max-width: 768px) {
  header {
    position: static;
  }
  h1 {
    font-size: 16px;
  }
  .logo {
    display: flex;
    justify-content: flex-start;
    font-size: 16px;
  }
  .hamburger {
    display: block;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 10px;
    flex-direction: column;
    margin: 0px;
    padding: 20px;
    background-color: var(--first-color);
    width: 100%;
    text-align: center;
    transition: 0.3s;
    z-index: 3;
  }
  .nav-menu.active {
    left: 0;
  }
  .h3-recipe, .p-recipe {
    padding: 10px;
    margin: auto;
  }
}
